// Global UI variables
$primary-color-layout: #000000;
$secondary-color-layout: #282828;
$primary-color-font: #ffffff;
$secondary-color-font: #aaaaaa;

#root, #inferno-root {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color: $secondary-color-layout
}

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Components
@import "scss/navbarTop";
@import "scss/parallax";
@import "scss/mainContents";
