.juanito-el-nahualito-page {
	color: $primary-color-font;
	
	.main-cntr {
		padding: 0px calc(50% - 300px);
		
		.juanito-logo {
			margin-top: -200px;
			margin-left: calc(50% - 155px);
			width: 310px;
			height: 163px;
			background-image: url("../res/logo/juanito-logo-white.png");
			background-size: cover;
			margin-bottom: 10px;
		}
		
		.logo-subtext {
			width: 100%;
			text-align: center;
			font-size: 24px;
			font-family: $primary-font;
			text-transform: uppercase;
		}
		
		.divider-bar {
			height: 3px;
			margin: 20px 0px;
			background-color: lighten($primary-color-layout, 25%);
		}
		
		.text {
			font-family: $secondary-font;
			text-align: justify;
		}
			
		a:link, a:visited, a:hover {
			color: white;
		}
		
		.description {
			font-size: 20px;
			@media screen and (max-width:800px){
				padding-right: 20px;
				padding-left: 20px;
			}
		}
		
		.options {
			margin-top: -10px;
			margin-bottom: 10px;
			
			div {
				display: inline-block;
				width: 100px;
				margin-left: 75px;
				padding: 10px 0px;
				cursor: pointer;
				font-size: 20px;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				color: $secondary-color-font;
				user-select: none;
				
				&.selected, &:hover {
					color: $primary-color-font;
				}
			}
		}

		.optionsContent {
			@media screen and (max-width:800px){
				padding-right: 20px;
				padding-left: 20px;
			}
		}
		
		.download {
			margin-top: 10px;
			margin-bottom: 30px;
			display: block;
			font-family: $secondary-font;
			text-align: center;
			font-size: 20px;
			cursor: default;
			padding-right: 23px;
			user-select: none;
			
			span {
				color: $secondary-color-font;
				font-style: italic;
				margin-right: 17px;
			}
		}
		
		.platforms {
			margin-top: 10px;
			margin-bottom: 30px;
			display: block;
			font-family: $secondary-font;
			text-align: center;
			font-size: 20px;
			cursor: default;
			padding-left: 64px;
			user-select: none;
			
			span {
				color: $secondary-color-font;
				font-style: italic;
				margin-right: 17px;
			}
		}
		
		.social-media-cntr {
			text-align: center;
			margin-top: -10px;
			margin-bottom: 20px;
			
			div {
				display: inline-block;
				font-style: italic;
			}
			
			.media-text {
				font-family: $secondary-font;
				color: $secondary-color-font;
				font-size: 20px;
				height: 32px;
				cursor: default;
				user-select: none;
			}
			
			.twitter  {background-image: url("../res/icons/twitter.png");}
			.facebook {background-image: url("../res/icons/facebook.png");}
			.youtube  {background-image: url("../res/icons/youtube.png");}
			
			.media-ico {
				height: 32px;
				width: 32px;
				margin-bottom: -18px;
				margin-left: 16px;
				padding: 8px;
				border-radius: 5px;
				
				cursor: pointer;
				
				background-repeat: no-repeat, repeat;
				background-size: 32px 32px;
				background-position: center center;
				
				&:hover {
					background-color: lighten($primary-color-layout, 50%);
				}
			}
		}
	}
}

